h1 Franz Enzenhofer CV
ul
  li  05.2010-
  div 
    h3 SEO manager 
      a(href='http://tupalo.com/') tupalo.com
    ul
      li.
        as of 03.2011 <a href='http://tupalo.com'>tupalo.com</a> is the number one site of all <a href='http://www.oewa.at/'>oewa.at</a> (official austrian web analytics (öwa)) tracked sites (sorted by <a href="http://www.oewa.at/index.php?id=14735&sort=DESC&by=uc&cat=gesamt#ea">unique clients</a>)
      li started consulting 
        a(href='http://tupalo.com/') tupalo.com
        |  april 2009
        br
        img(src='/img/tupalocom-traffic.png', alt='tupalo.com traffic')
 
 
  