h1 Franz Enzenhofer CV
ul
  li  06.2011-
  div 
    h3 freelance SEO manager
    br
    br
  li  05.2010-05.2011
  div 
    h3 SEO manager 
      a(href='http://tupalo.com/') tupalo.com
    ul
      li.
        as of 03.2011 <a href='http://tupalo.com'>tupalo.com</a> is the number one site of all <a href='http://www.oewa.at/'>oewa.at</a> (official austrian web analytics (öwa)) tracked sites (sorted by <a href="http://www.oewa.at/index.php?id=14735&sort=DESC&by=uc&cat=gesamt#ea">unique clients</a>)
      li started consulting 
        a(href='http://tupalo.com/') tupalo.com
        |  april 2009
        br
        img(src='/img/tupalocom-traffic.png', alt='tupalo.com traffic')
  li  10.2008-06.2010
  div
    h3 SEO manager 
      a(href='http://www.i5invest.com/') i5invest.com
    ul
      li
       a(href='http://www.123people.com/') 123people
      li
       a(href='http://www.tripwolf.com/') Tripwolf
      li
       a(href='http://www.tupalo.com/') Tupalo.com
      li
       a(href='http://www.i5comm.com/') i5comm consulting
       | : red bull, österreich, dealhamster, emailcharity, 
       a(href='http://www.karriere.at/') karriere.at, ...
  br
  br
  li  ... - 10.2008
  div ... 
       
    
 
 
  