div#cv
  h1 Franz Enzenhofer CV
  ul
    li  05.2011 -
    div 
      h3 freelance SEO manager
    
    
    li  05.2010 - 05.2011
    div 
      h3 SEO manager 
        a(href='http://tupalo.com/') tupalo.com
      ul
        li.
          as of 03.2011 <a href='http://tupalo.com'>tupalo.com</a> is the number one site of all <a href='http://www.oewa.at/'>oewa.at</a> (official austrian web analytics (öwa)) tracked sites (sorted by <a href="http://www.oewa.at/index.php?id=14735&sort=DESC&by=uc&cat=gesamt#ea">unique clients</a>)
        li started consulting 
          a(href='http://tupalo.com/') tupalo.com
          |  april 2009
        
          img(src='/img/tupalocom-traffic.png', alt='tupalo.com traffic')
    li  10.2008 - 05.2010
    div
      h3 SEO manager 
        a(href='http://www.i5invest.com/') i5invest.com 
      div "i5invest is an incubator that grows the successful Web and mobile business models of tomorrow. i5invest focus specifically on B2C web ventures."
      ul
        li
         a(href='http://www.123people.com/') 123people
         |  - joined the company at 2 markets and 100.000 visitors/month, left the company after an successfull exit - at 11 markets and 62.000.000 visitors/month
        li
         a(href='http://www.tripwolf.com/') Tripwolf
         |  a web 2.0 travel guide - in cooperation with <a href="http://www.mairdumont.com">MairDumont</a> and <a href="http://www.footprinttravelguides.com/">Footprint</a>
         
        li
         a(href='http://www.tupalo.com/') Tupalo.com
        li
         a(href='http://www.i5comm.com/') i5comm consulting
         | : red bull, österreich, dealhamster, emailcharity, 
         a(href='http://www.karriere.at/') karriere.at
         |, ...
  
  
    li  05.2007 - 10.2008
    div
      h3 SEO manager  
        a(href='http://www.bwin.com/') bwin 
      div world market leader sports betting, poker, casion, games - 22 marktes - nuff said
  
  
    li  01.2007 - 05.2007
    div
      h3 Key Account Manager 
        a(href='http://www.immobilien.net/',rel='nofollow') Immobilien.net 
  
    li  01.2006 - 01.2007
    div
      h3 Business Development Consultant 
        a(href='http://www.apa.at/') Austria Press Agency 
  
  
    li  01.2000 - 01.2006
    div
      h3 Business Development Web 
        a(href='http://www.ots.at/') APA OTS - Original Text Service
  
  
    li  1999 - 2000
    div
      h3 Web Developer, Projectmanager 
        a(href='http://www.braintrust.at/') Braintrust
  
  
    li  1998 - 1999
    div
      h3 Editor 
        a(href='http://www.4students.de/',rel='nofollow') 4students
  
  h2 Education      
  ul
    li 1998 - 2002
      h3 Vienna University
      ul
        li Statistics
        li Education
        li Sociology
    li 1998
      ul
        li Matura
    
      
    
    
 
 
  