h1 
  a(href='http://www.franz-enzenhofer.com/') Franz Enzenhofer
h2
  | SEO is a business
img(src='img/fotofranzenzenhofer.jpeg',alt="Franz Enzenhofer SEO", titel="Franz Enzenhofer",id="franzenzenhofer")
h3
  | Code is passion
img(src='img/franzenzenhofer.jpeg',alt="Franz Enzenhofer Coder", titel="Franz Enzenhofer Coder",id="franzenzenhofer")

