!!! 5
html(lang='en')
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    style
     #navigation {text-transform:capitalize}
  body!= body
    div#navigation!= partial('navigation.jade') 